{% extends "base.html" %}
{% load i18n %}
{% block content%}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <div class="d-grid gap-2">
                <h5 class="text-center">
                    {{ object.title }}
                </h5>
            </div>
        </li>
    </ol>
</nav>
<div class="row" id="diary-{{ diary.id }}">
    <div class="col-md-3">
        <form method="POST">
            <div class="card">
                <div class="card-body">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-3"style="font-family:'Playwrite RO';">{{ field }}</div>
                    {% endfor %}
                    <div class="d-flex mt-2">
                        <span class="me-auto text-muted small">
                            <i class="bi bi-clock"></i>
                            <time datetime="{{ object.created_at }}">{{ object.created_at}}</time>
                        </span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2">
                        <button class="btn btn-info">
                            <i class="bi bi-save">{% trans 'Save' %}</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        {% include 'note/note.html' with diary=object %}
    </div>
</div>
<script>
    function saveDiary(diaryId) {
        const diaryDiv = document.getElementById(`diary-${diaryId}`);
        const input = diaryDiv.querySelector(".edit-input");
    
        fetch(`/diary/update/${diaryId}/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCSRFToken(),
            },
            body: JSON.stringify({ content: input.value }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                diaryDiv.querySelector(".diary-content").textContent = data.content;
                diaryDiv.querySelector(".diary-content").style.display = "block";
                input.style.display = "none";
                diaryDiv.querySelector("button[onclick^='savediary']").style.display = "none";
            }
        });
    }
</script>


{% endblock %}