{% load i18n %}
<div class="row mt-5">
    {% for note in diary.notes_set.all %}
    <div class="col-md-4" id="note-{{ note.id }}">
        <div class="card-mb-3">
            <div class="card-body">
                <p>
                    <span class="badge rounded-pill bg-dark">
                        {{ note.get_is_important_display }}
                    </span>
                </p>
                <p class="card-text text-muted small">{{ note.content }}</p>
                <div class="d-flex">
                    <input type="text" class="edit-input" 
                        value="{{ note.content }}"
                        style="display:none;">

                    <button onclick="editNote({{ note.id }})"
                        class="btn btn-sm btn-outline-dark mx-1">
                        <i class="bi bi-pencil"></i>
                        {% trans "Edit" %}
                    </button>

                    <button class="btn btn-sm btn-outline-indigo-500 mx-1"
                        onclick="saveNote({{ note.id }})" style="display:none;">
                        <i class="bi bi-save">{% trans 'Save' %}</i>
                    </button>

                    <button onclick="deleteNote({{ note.id }})"
                        class="delete-btn btn btn btn-sm btn-outline-danger"
                        data-note-id="{{ note.id }}">
                        <i class="bi bi-trash"></i>
                        {% trans "Delete" %}
                    </button>
    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>